* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

/*HEADER*/

header {
    height: 70px;
    background-color: #1ABC9C;
}

.wrapper {
    width: 90%;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: black;
    font-size: 25px;
    text-decoration: none;
    /* убираем нижнее подчеркивание */

}

a:not(:last-child) {
    margin-right: 20px;
}

.social-icon:not(:last-child) {
    margin-right: 20px;
}

/*О нас */


.about {
    display: flex;
    align-items: center;

}

.about-img {
    width: 50%;
}

.about-info {
    padding: 0 65px;
    width: 50%;
}

h1 {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 42px;
    font-family: 'Inter', sans-serif;
}

p {
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    line-height: 24px;

}

.about-descr {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

/* НАШИ ПРОЕКТЫ*/

.projects {
    background: #DCFFEB;

}

.img-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.img_projects_icons {

    width: 100%;
    height: 100%;
}


.wrapper-projects {
    padding-top: 124px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 124px;
}

h2 {
    font-weight: 400;
    font-size: 35px;
    font-family: 'Inter', sans-serif;
}

.image {
    position: relative;
    width: 100%;
    /* для IE 6 */
}

.projects-icons {
    display: flex;
    justify-content: space-between;
    

}

.arena-icon {
    margin-top: 52px;
    
}

#tekst_sverhu_kartinki:hover #tekst_sverhu_kartinki_1 {
    display:block;
    
}


#tekst_sverhu_kartinki {
    position: relative;
    
}

#tekst_sverhu_kartinki_1 {
    display:none;
    position: absolute;
    top: 50%;
    left: 30px;
    right: 30px;
    
}

.gazprom {
    margin-bottom: 10px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    

}

.gazprom_text {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

}


/*FOOTER*/

.wrapper-contacts {
    margin: 84px 69px 76px 69px;

}

.conteiner-points {
    display: flex;
    justify-content: space-between;
}

.point {
    padding-bottom: 83px;
    padding-top: 55px;

}

.span-points {
    display: flex;
    justify-content: center;
}

.p1 {
    margin-top: 36px;
    font-weight: 500;
    font-size: 24px;
    color: #999999;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.p2 {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-top: 36px;
    font-family: 'Oswald', sans-serif;
    line-height: 36px;

}

.p22 {
    color: #F7654A;
}

/*
    :first-child - стиль применится к первому элементу из нескольких родственных
    :last-child - стиль применится к последнему элементу из нескольких родственных
    :not() - отрицание, инверсия
    max-width - максимальная ширина элемента
    h1 по умолчанию font-size 32px и font-weight 600
    p по умолчанию font-size 16px и font-weight 400
*/